.imagen {
    height: 400px;
    width: 400px;
}

body {
    text-align: center;
    align-items: center;
}

.boton {
    color: black;
    background-color: #00C8F8;
    font-weight: bold;
    height: 30px;
    width: 100px;
}

.subrayadoynegrita {
    font-weight: bold;
    text-decoration: underline;
}

.container img {
    width: 200px;
    height: auto;
}