*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.banner{
    width: 100%;
    height: 200%;
    background-size: 100vh;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)), url(imagenes/fondosesion.jpg);
}
.logoempresa{
    position: relative;
    right: 70px;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.logoempresa{
    position: relative;
    right: 70px;
}
.content{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-10%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 55px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fff;
    cursor: pointer;
    background:transparent;
    position: relative;
    overflow: hidden;
    color: #fff;
}
span{
    background: aquamarine;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.list-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-col{
    flex-basis: 70%;
}
.right-col{
    flex-basis: 25%;
}
.left-col h1{
    font-weight: 600;
    margin-bottom: 30px;
    position: relative;
    left: 35px;
}
.casa{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}
.casa-img{
    flex-basis: 30%;
    position: relative;
    left: 45px;
}
.casa-info{
    flex-basis: 58%;
    color: #fff;
    position: relative;
    top: 10px;
}
.casa-img img{
    width: 100%;
    border-radius: 12px;
}
.casa-info h3{
    font-weight: 600;
    color: #fff;
    font-size: 22px;
    margin: 4px 0;
}
.casa-info i{
    color: #ff5361;
    font-size: 18px;
    margin: 10px 1px;
}
.casa-precio{
    text-align: left;
}


